
#body {
  height: 100vh;
  background-color: white;
}

/*#usernameInput {
  left: 90%;
  background-color: gainsboro;
  color:#2B2D2F;
  box-sizing: border-box;
  width: 10%;
  position: relative;
  margin-top: 5px;
}*/


#output{
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  float: left;
}


#input{
  background-color: gainsboro;
  color:rgb(46, 46, 46);
  box-sizing: border-box;
  width: 70%;
  position: relative;
  left: 15%;
  margin-top: 5px;
}

#nameColor{
  color: #3eaaad;
}

#blue {
  color: #3eaaad;
}
#red {
  color: red;
}
#green{

  color: green;

}

pre{
  color: rgb(46, 46, 46);
  padding: 0px;
  margin: 3px 0px;
}


#welcomeMessage{
  color:rgb(46, 46, 46);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcomeMessageBox {
  background-color: gainsboro;
  left: 15%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 0px solid black;
  width: 70%;
  height: auto;
  padding: 5px;
}



#button{

  background-color: gainsboro;
  color: rgb(46, 46, 46);
  position: relative;
  left:15%;

}

#onlineUsersBox {
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 30%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-left: 0px solid black;
  box-sizing: border-box;
  padding: 5px;
}

#outputOnlineBox {
  width: 70%;
  height: 60%;
  position: relative;
  left: 15%;
}
