#body {

   height: 100vh;
  background-color: rgb(31, 31, 31)
}

#output{
  background-color: rgb(46, 46, 46);
  color: gainsboro;
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 5px;
  float: left;
}

#input{
  background-color: rgb(46, 46, 46);
  color: gainsboro;
  box-sizing: border-box;
  width: 70%;
  height: 10%;
  position: relative;
  left: 15%;
  border: 1px solid black;
  border-top: 0px solid black;
}

#nameColor{
  color: #3eaaad;
}

#blue {
  color: #3eaaad;
}
#red {
  color: red;
}
#green{

  color: green;

}

pre{
  color:gainsboro;
  padding: 0px;
  margin: 3px 0px;
}


#welcomeMessage{
  color:gainsboro;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcomeMessageBox {
  background-color: rgb(46, 46, 46);
  left: 15%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 0px solid black;
  width: 70%;
  height: auto;
  padding: 5px;
}


#button{

  background-color: rgb(46, 46, 46);
  color: gainsboro;
  margin: 10px;

}

#onlineUsersBox {
  background-color: rgb(46, 46, 46);
  color: gainsboro;
  width: 30%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-left: 0px solid black;
  box-sizing: border-box;
  padding: 5px;
}

#outputOnlineBox {
  width: 70%;
  height: 50%;
  position: relative;
  left: 15%;
}

#outputTitleBox {
  width: 70%;
  height: 15%;
  position: relative;
  left: 15%;
}

#outputTitle {
  background-color: rgb(46, 46, 46);
  color: gainsboro;
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-bottom: 0px solid black;
  box-sizing: border-box;
  padding: 5px;
  float: left;
}

#onlineUsersTitle {
  background-color: rgb(46, 46, 46);
  color: gainsboro;
  width: 30%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  box-sizing: border-box;
  padding: 5px;
}

#buttonBox {
  background-color: rgb(46, 46, 46);
  border: 1px solid black;
  box-sizing: border-box;
  border-top: 0px solid black;
  left: 15%;
  width: 70%;
  position: relative;
  height: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
}
