#titleLogin{
  color:rgb(46, 46, 46);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titleLoginBox {
  background-color: gainsboro;
  left: 15%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  width: 70%;
  height: auto;
  padding: 5px;
}


#loginBox {
  width: 70%;
  height: auto;
  position: relative;
  left: 15%;
}



#inputUsername {
  width: 100%;
  margin: 5px;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  color: rgb(46, 46, 46);


}

#inputPassword {
  width: 100%;
  margin: 5px;
  margin-left: 0px;

  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  color: rgb(46, 46, 46);

}


#buttonLogin {
  width: 100%;
  margin: 5px;
  margin-left: 0px;
  display: inline-block;
  /* border: 1px solid black;
  box-sizing: border-box; */
  background-color: gainsboro;
  color: rgb(46, 46, 46);

}
