
#body {
  height: 100vh;
  background-color: white;
}


#output{
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
  box-sizing: border-box;
  padding: 5px;
  float: left;
}


#input{
  background-color: gainsboro;
  color:rgb(46, 46, 46);
  box-sizing: border-box;
  width: 70%;
  height: 10%;
  position: relative;
  left: 15%;
  border: 1px solid black;
  border-top: 0px solid black;
  border-bottom: 1px solid rgb(150, 150, 150);
  outline: none;


}

#nameColor{
  color: #3eaaad;
}

#blue {
  color: #3eaaad;
}
#red {
  color: red;
}
#green{

  color: green;

}

pre{
  color: rgb(46, 46, 46);
  padding: 0px;
  margin: 3px 0px;
}


#welcomeMessage{
  color:rgb(46, 46, 46);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcomeMessageBox {
  background-color: gainsboro;
  left: 15%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  border-bottom: 0px solid black ;
  width: 70%;
  height: auto;
  padding: 5px;
}



#button{

  background-color: gainsboro;
  color: rgb(46, 46, 46);
  margin: 10px;



}

#onlineUsersBox {
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 30%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-left: 0px solid black;
  border-top: 1px solid rgb(150, 150, 150);
  border-bottom: 1px solid rgb(150, 150, 150);
  box-sizing: border-box;
  padding: 5px;
}

#outputOnlineBox {
  width: 70%;
  height: 50%;
  position: relative;
  left: 15%;
}

#outputTitleBox {
  width: 70%;
  height: 15%;
  position: relative;
  left: 15%;
}

#outputTitle {
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-bottom: 0px solid black;
  border-top: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
  box-sizing: border-box;
  padding: 5px;
  float: left;
}

#onlineUsersTitle {
  background-color: gainsboro;
  color: rgb(46, 46, 46);
  width: 30%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  border: 1px solid black;
  border-left: 0px solid black;
  border-bottom: 0px solid black;
  border-top: 1px solid rgb(150, 150, 150);
  border-top: 1px solid rgb(150, 150, 150);
  box-sizing: border-box;
  padding: 5px;
}

#buttonBox {
  background-color: gainsboro;
  border: 1px solid black;
  box-sizing: border-box;
  border-top: 0px solid black;
  left: 15%;
  width: 70%;
  position: relative;
  height: 8%;
  display: flex;
  align-content: center;
  justify-content: center;
}



#myCanvas {
  border: 1px solid black;
  /* position: relative;
  left: 9%; */

}

#myCanvas:hover{

  border: 1px solid gray;
  /* position: relative;
  left: 9%; */
}

#strokeSlider{

  position:relative;
  left: 10%;

}

#strokeText{
  position: relative;
  left: 10%;
  color: rgb(46, 46, 46);
  ;
}

#clearButton1{

  background-color: white;
  color: rgb(46, 46, 46);

}

#postButton{

  position: relative;
  left: 43%;
  border-radius: 10%;
  margin: 0px 10px;
  background-color: white;
  color: rgb(46, 46, 46);
  padding: 5px;

}


.buttons{

    width: 250px;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 10px;


}

.clr{

   height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    opacity: 25%;
}

.clr:hover{

   height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    opacity: 100%;
}

.clr:nth-child(1){
  background-color: black;
}

.clr:nth-child(2){
  background-color: red;
}

.clr:nth-child(3){
  background-color: blue;
}

.clr:nth-child(4){
  background-color: green;
}

.clr:nth-child(5){
  background-color: yellow;
}

.clr:nth-child(6){
  background-color: white;
}

